footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightslategray;
}


h1 {
    color: darkblue;
    text-align: center;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    padding-left: 0%;
}
.weather-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    float: right;
    border-radius: 10px;
    background-color: lightyellow;
    color: darkblue;
}

.forecast-box {
  
    justify-content: center;
    float: right;

}

.search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    margin: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: auto;

}
h2 {
    margin-bottom: 10px;
}

.forecast-card {
    justify-content: center;
    float: right;
    bottom: auto;
    background-color: navy;
    color: white;
    border-radius: 10px;
    padding: 5px;
}




