.weather-box {
  background-color: blue;
  color: white;
  padding: 10px;
  width: 300px;
    margin: 0 auto;
    float: left;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightslategray;
}

h1 h2 {
    text-align: center;
    padding-top: 0;
}
