footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightslategray;
}


h1 {
    color: darkblue;
    text-align: center;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: left;
    padding-left: 0%;
}

.weather-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: right;
    border-radius: 10px;
    background-color: lightyellow;
    color: darkblue;
}

.forecast-box {
    justify-content: flex-start;
    float: right;
}

.forecast-card {
    justify-content: flex-start;
    bottom: auto;
    background-color: navy;
    color: white;
    border-radius: 10px;
    padding: 5px;
    float: right;
}





